Import pandas and numpy for the libraries

In [8]:
import pandas as pd
import numpy as np

Read the dataset 'citibike.csv'

In [9]:
df=pd.read_csv('citibike.csv')

Show the head (the first 5 rows of the dataset)

In [10]:
df.head()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
0,1/1/2017 0:38,1/1/2017 1:03,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,1,Winter,10,Sunday
1,1/1/2017 1:47,1/1/2017 1:58,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
2,1/1/2017 1:56,1/1/2017 2:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,1,Winter,10,Sunday
3,1/1/2017 2:12,1/1/2017 2:23,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,1,Winter,10,Sunday
4,1/1/2017 2:22,1/1/2017 2:31,3212,Christ Hospital,3225,Baldwin at Montgomery,24520,Subscriber,1987,34,25-34,535,9,1,Winter,10,Sunday

Show the tail (the last 5 rows of the dataset)

In [11]:
df.tail()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
20394,3/31/2017 21:06,3/31/2017 21:10,3186,Grove St PATH,3203,Hamilton Park,24608,Subscriber,1968,53,45-54,244,4,3,Spring,18,Friday
20395,3/31/2017 21:13,3/31/2017 21:18,3195,Sip Ave,3194,McGinley Square,29219,Subscriber,1956,65,65-74,264,4,3,Spring,18,Friday
20396,3/31/2017 21:13,3/31/2017 21:18,3195,Sip Ave,3194,McGinley Square,29219,Subscriber,1956,65,65-74,264,4,3,Spring,18,Friday
20397,3/31/2017 21:26,3/31/2017 21:30,3195,Sip Ave,3201,Dey St,29276,Subscriber,1970,51,45-54,239,4,3,Spring,18,Friday
20398,3/31/2017 23:20,3/31/2017 23:30,3272,Jersey & 3rd,3268,Lafayette Park,24398,Subscriber,1984,37,35-44,618,10,3,Spring,18,Friday

Show the info of all the columns

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20399 entries, 0 to 20398
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Start Time            20399 non-null  object
 1   Stop Time             20399 non-null  object
 2   Start Station ID      20399 non-null  int64
 3   Start Station Name    20399 non-null  object
 4   End Station ID        20399 non-null  int64
 5   End Station Name      20382 non-null  object
 6   Bike ID               20399 non-null  int64
 7   User Type             20399 non-null  object
 8   Birth Year            20399 non-null  int64
 9   Age                   20399 non-null  int64
 10  Age Groups            20399 non-null  object
 11  Trip Duration         20399 non-null  int64
 12  Trip_Duration_in_min  20399 non-null  object
 13  Month                 20399 non-null  int64
 14  Season                20399 non-null  object
 15  Temperature           20399 non-null  int64
 16  Weekday               20399 non-null  object
dtypes: int64(8), object(9)
memory usage: 2.6+ MB

Show the null in the column 'End Station Name'

In [13]:
nan_in_col  = df[df['End Station Name'].isna()]

In [14]:
print(nan_in_col)

            Start Time        Stop Time  Start Station ID  \
519     1/4/2017 19:23   1/4/2017 19:28              3187
1044    1/9/2017 11:30   1/9/2017 11:32              3186
1941   1/13/2017 18:26  1/13/2017 18:29              3186
1990   1/13/2017 22:00  1/13/2017 22:04              3203
2019   1/14/2017 10:41  1/14/2017 10:45              3203
2044   1/14/2017 13:07  1/14/2017 13:10              3278
2078   1/14/2017 18:06  1/14/2017 18:09              3213
2089   1/14/2017 22:56  1/14/2017 22:58              3211
2090   1/14/2017 22:56  1/14/2017 22:58              3211
2095    1/15/2017 6:18   1/15/2017 6:20              3186
2096    1/15/2017 6:18   1/15/2017 6:20              3186
2143   1/15/2017 14:16  1/15/2017 14:24              3213
2144   1/15/2017 14:37  1/15/2017 14:40              3186
16145  3/20/2017 17:09  3/20/2017 17:46              3193
16146  3/20/2017 17:09  3/20/2017 17:46              3193
18016  3/24/2017 23:51   3/25/2017 0:04              3190
18017  3/24/2017 23:51   3/25/2017 0:04              3190

         Start Station Name  End Station ID End Station Name  Bike ID  \
519               Warren St            3211              NaN    24549
1044          Grove St PATH            3211              NaN    24661
1941          Grove St PATH            3211              NaN    24723
1990          Hamilton Park            3211              NaN    26195
2019          Hamilton Park            3211              NaN    26247
2044       Monmouth and 6th            3211              NaN    26182
2078         Van Vorst Park            3211              NaN    24488
2089             Newark Ave            3211              NaN    24690
2090             Newark Ave            3211              NaN    24690
2095          Grove St PATH            3211              NaN    26304
2096          Grove St PATH            3211              NaN    26304
2143         Van Vorst Park            3211              NaN    26292
2144          Grove St PATH            3211              NaN    24532
16145          Lincoln Park            3217              NaN    26293
16146          Lincoln Park            3217              NaN    26293
18016  Garfield Ave Station            3217              NaN    26307
18017  Garfield Ave Station            3217              NaN    26307

           User Type  Birth Year  Age Age Groups  Trip Duration  \
519       Subscriber        1987   34      25-34            329
1044      Subscriber        1982   39      35-44            124
1941      Subscriber        1959   62      55-64            163
1990      Subscriber        1984   37      35-44            209
2019      Subscriber        1976   45      45-54            238
2044      Subscriber        1958   63      55-64            223
2078      Subscriber        1981   40      35-44            167
2089      Subscriber        1985   36      35-44            105
2090      Subscriber        1985   36      35-44            105
2095      Subscriber        1964   57      55-64            119
2096      Subscriber        1964   57      55-64            119
2143      Subscriber        1963   58      55-64            485
2144      Subscriber        1981   40      35-44            159
16145  One-time user        1984   37      35-44           2247
16146  One-time user        1984   37      35-44           2247
18016     Subscriber        1979   42      35-44            742
18017     Subscriber        1979   42      35-44            742

      Trip_Duration_in_min  Month  Season  Temperature    Weekday
519                      5      1  Winter           12  Wednesday
1044                     2      1  Winter           16     Monday
1941                     3      1  Winter           12     Friday
1990                     3      1  Winter           12     Friday
2019                     4      1  Winter           13   Saturday
2044                     4      1  Winter           13   Saturday
2078                     3      1  Winter           13   Saturday
2089                     2      1  Winter           13   Saturday
2090                     2      1  Winter           13   Saturday
2095                     2      1  Winter           14     Sunday
2096                     2      1  Winter           14     Sunday
2143                     8      1  Winter           14     Sunday
2144                     3      1  Winter           14     Sunday
16145                   37      3  Spring           16     Monday
16146                   37      3  Spring           16     Monday
18016                   12      3  Spring           15     Friday
18017                   12      3  Spring           15     Friday

Show only rows where 'End Station ID' is 3211

In [15]:
df.loc[df['End Station ID'] == 3211]

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
9,1/1/2017 6:29,1/1/2017 6:31,3186,Grove St PATH,3211,Newark Ave,24681,Subscriber,1964,57,55-64,107,2,1,Winter,10,Sunday
10,1/1/2017 6:29,1/1/2017 6:31,3186,Grove St PATH,3211,Newark Ave,24681,Subscriber,1964,57,55-64,107,2,1,Winter,10,Sunday
12,1/1/2017 8:24,1/1/2017 8:28,3186,Grove St PATH,3211,Newark Ave,26308,Subscriber,1977,44,35-44,258,4,1,Winter,10,Sunday
128,1/2/2017 11:52,1/2/2017 11:55,3203,Hamilton Park,3211,Newark Ave,26270,Subscriber,1974,47,45-54,199,3,1,Winter,12,Monday
130,1/2/2017 12:53,1/2/2017 12:57,3269,Brunswick & 6th,3211,Newark Ave,24675,Subscriber,1976,45,45-54,238,4,1,Winter,12,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20055,3/30/2017 17:04,3/30/2017 17:09,3275,Columbus Drive,3211,Newark Ave,24499,Subscriber,1982,39,35-44,312,5,3,Spring,18,Thursday
20109,3/30/2017 18:00,3/30/2017 18:02,3209,Brunswick St,3211,Newark Ave,24455,Subscriber,1975,46,45-54,132,2,3,Spring,18,Thursday
20229,3/30/2017 20:54,3/30/2017 20:57,3209,Brunswick St,3211,Newark Ave,29212,Subscriber,1984,37,35-44,162,3,3,Spring,18,Thursday
20230,3/30/2017 20:54,3/30/2017 20:57,3209,Brunswick St,3211,Newark Ave,26217,Subscriber,1989,32,25-34,171,3,3,Spring,18,Thursday
20361,3/31/2017 16:56,3/31/2017 16:58,3270,Jersey & 6th St,3211,Newark Ave,26265,Subscriber,1971,50,45-54,99,2,3,Spring,18,Friday

Insert value 'Newark Ave' to the missing value of 'End Station Name'

In [23]:
df.at[519, 'End Station Name'] = 'Newark Ave'
df.at[1044, 'End Station Name'] = 'Newark Ave'
df.at[1941, 'End Station Name'] = 'Newark Ave'
df.at[1990, 'End Station Name'] = 'Newark Ave'
df.at[2019, 'End Station Name'] = 'Newark Ave'
df.at[2044, 'End Station Name'] = 'Newark Ave'
df.at[2078, 'End Station Name'] = 'Newark Ave'
df.at[2089, 'End Station Name'] = 'Newark Ave'
df.at[2090, 'End Station Name'] = 'Newark Ave'
df.at[2095, 'End Station Name'] = 'Newark Ave'
df.at[2096, 'End Station Name'] = 'Newark Ave'
df.at[2143, 'End Station Name'] = 'Newark Ave'
df.at[2144, 'End Station Name'] = 'Newark Ave'

Check if the value has already been added

In [24]:
df.loc[519,'End Station Name']
df.loc[1044, 'End Station Name']
df.loc[1941, 'End Station Name'] 
df.loc[1990, 'End Station Name'] 
df.loc[2019, 'End Station Name'] 
df.loc[2044, 'End Station Name'] 
df.loc[2078, 'End Station Name'] 
df.loc[2089, 'End Station Name']
df.loc[2090, 'End Station Name'] 
df.loc[2095, 'End Station Name'] 
df.loc[2096, 'End Station Name'] 
df.loc[2143, 'End Station Name'] 
df.loc[2144, 'End Station Name']

'Newark Ave'

Show only rows where 'End Station ID' = 3217

In [22]:
df.loc[df['End Station ID'] == 3217]

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
5701,2/3/2017 11:41,2/3/2017 12:24,3267,Morris Canal,3217,Bayside Park,26294,Subscriber,1964,57,55-64,2591,43,2,Winter,14,Friday
5702,2/3/2017 11:41,2/3/2017 11:58,3216,Columbia Park,3217,Bayside Park,26317,Subscriber,1985,36,35-44,971,16,2,Winter,14,Friday
7927,2/18/2017 4:26,2/18/2017 4:29,3217,Bayside Park,3217,Bayside Park,26317,One-time user,1984,37,35-44,178,3,2,Winter,13,Saturday
14274,3/8/2017 23:58,3/9/2017 0:21,3201,Dey St,3217,Bayside Park,26151,Subscriber,1985,36,35-44,1385,23,3,Spring,18,Wednesday
14275,3/8/2017 23:58,3/9/2017 0:21,3201,Dey St,3217,Bayside Park,26151,Subscriber,1985,36,35-44,1385,23,3,Spring,18,Wednesday
15983,3/19/2017 17:04,3/19/2017 17:25,3186,Grove St PATH,3217,Bayside Park,26193,Subscriber,1983,38,35-44,1257,21,3,Spring,17,Sunday
16145,3/20/2017 17:09,3/20/2017 17:46,3193,Lincoln Park,3217,NaN,26293,One-time user,1984,37,35-44,2247,37,3,Spring,16,Monday
16146,3/20/2017 17:09,3/20/2017 17:46,3193,Lincoln Park,3217,NaN,26293,One-time user,1984,37,35-44,2247,37,3,Spring,16,Monday
18016,3/24/2017 23:51,3/25/2017 0:04,3190,Garfield Ave Station,3217,NaN,26307,Subscriber,1979,42,35-44,742,12,3,Spring,15,Friday
18017,3/24/2017 23:51,3/25/2017 0:04,3190,Garfield Ave Station,3217,NaN,26307,Subscriber,1979,42,35-44,742,12,3,Spring,15,Friday
18126,3/25/2017 10:49,3/25/2017 12:09,3192,Liberty Light Rail,3217,Bayside Park,26236,Subscriber,1956,65,65-74,4780,80,3,Spring,16,Saturday
19181,3/28/2017 16:46,3/28/2017 17:08,3186,Grove St PATH,3217,Bayside Park,29269,Subscriber,1983,38,35-44,1312,22,3,Spring,18,Tuesday
20101,3/30/2017 17:52,3/30/2017 18:13,3217,Bayside Park,3217,Bayside Park,26293,Subscriber,1985,36,35-44,1264,21,3,Spring,18,Thursday

Insert value 'Bayside Park' to the missing value of 'End Station Name'

In [25]:
df.at[16145, 'End Station Name'] = 'Bayside Park'
df.at[16146, 'End Station Name'] = 'Bayside Park'
df.at[18016, 'End Station Name'] = 'Bayside Park'
df.at[18017, 'End Station Name'] = 'Bayside Park'

Check if the value has already been added

In [26]:
df.loc[16145, 'End Station Name']
df.loc[16146, 'End Station Name']
df.loc[18016, 'End Station Name']
df.loc[18017, 'End Station Name']

'Bayside Park'

Show the info to see if the NaN or null value is already filled

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20399 entries, 0 to 20398
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Start Time            20399 non-null  object
 1   Stop Time             20399 non-null  object
 2   Start Station ID      20399 non-null  int64
 3   Start Station Name    20399 non-null  object
 4   End Station ID        20399 non-null  int64
 5   End Station Name      20399 non-null  object
 6   Bike ID               20399 non-null  int64
 7   User Type             20399 non-null  object
 8   Birth Year            20399 non-null  int64
 9   Age                   20399 non-null  int64
 10  Age Groups            20399 non-null  object
 11  Trip Duration         20399 non-null  int64
 12  Trip_Duration_in_min  20399 non-null  object
 13  Month                 20399 non-null  int64
 14  Season                20399 non-null  object
 15  Temperature           20399 non-null  int64
 16  Weekday               20399 non-null  object
dtypes: int64(8), object(9)
memory usage: 2.6+ MB

Remove duplicates

In [28]:
df.drop_duplicates()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
0,1/1/2017 0:38,1/1/2017 1:03,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,1,Winter,10,Sunday
1,1/1/2017 1:47,1/1/2017 1:58,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
2,1/1/2017 1:56,1/1/2017 2:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,1,Winter,10,Sunday
3,1/1/2017 2:12,1/1/2017 2:23,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,1,Winter,10,Sunday
4,1/1/2017 2:22,1/1/2017 2:31,3212,Christ Hospital,3225,Baldwin at Montgomery,24520,Subscriber,1987,34,25-34,535,9,1,Winter,10,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20392,3/31/2017 21:03,3/31/2017 21:12,3278,Monmouth and 6th,3278,Monmouth and 6th,26221,Subscriber,1958,63,55-64,577,10,3,Spring,18,Friday
20393,3/31/2017 21:06,3/31/2017 21:10,3186,Grove St PATH,3203,Hamilton Park,24608,Subscriber,1968,53,45-54,244,4,3,Spring,18,Friday
20395,3/31/2017 21:13,3/31/2017 21:18,3195,Sip Ave,3194,McGinley Square,29219,Subscriber,1956,65,65-74,264,4,3,Spring,18,Friday
20397,3/31/2017 21:26,3/31/2017 21:30,3195,Sip Ave,3201,Dey St,29276,Subscriber,1970,51,45-54,239,4,3,Spring,18,Friday
20398,3/31/2017 23:20,3/31/2017 23:30,3272,Jersey & 3rd,3268,Lafayette Park,24398,Subscriber,1984,37,35-44,618,10,3,Spring,18,Friday